@model Game

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-5 shadow">
                <div class="card-body">
                    <h2 class="card-title display-5">@Model.Title</h2>
                    <p class="card-text">Description: @Model.Description</p>
                    <p class="card-text">Genre: @Model.Genre</p>
                    <p class="card-text">Developer: @Model.Developer</p>

                    <h4 class="mt-4 text-center text-muted"><u>Reviews:</u></h4>

                    @if (Model.Reviews != null && Model.Reviews.Any())
                    {
                        foreach (var review in Model.Reviews)
                        {
                            <div class="card mb-2 border-2 shadow">
                                <div class="card-body">
                                    <p class="card-text">@review.Content</p>
                                    <p class="card-text">
                                        Rating:
                                        @for (int i = 0; i < review.Rating; i++)
                                        {
                                            <text>★</text>
                                        }
                                    </p>
                                    <p class="card-text">Review Date: @review.DateTime.ToString("d")</p>        
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a asp-action="Edit" asp-controller="Review" asp-route-id="@review.ReviewId" class="btn btn-outline-warning"><i class="bi bi-pencil"></i> This Review</a>
                                        <a asp-action="Delete" asp-controller="Review" asp-route-id="@review.ReviewId" class="btn btn-outline-danger"><i class="bi bi-trash3"></i> This Review</a>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card mb-2 border-2 shadow">
                            <div class="card-body">
                                <h3 class="text-center">This game has no reviews yet.</h3>
                            </div>
                        </div>
                    }

                    <div class="mt-4 d-flex justify-content-center">
                        <a asp-controller="Review" asp-action="Create" asp-route-gameId="@Model.GameId" class="btn btn-outline-success me-5"><i class="bi bi-plus-square"></i> Review to This Game</a>
                        <a asp-action="Index" class="btn btn-outline-primary me-5"><i class="bi bi-arrow-left-circle"></i> To List of Games</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>